<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style1.css">
    <title>Home</title>
</head>
<body>
    <div id="externo"> 
        <header>
            <h1>Exercício Laboratório</h1>
            <h3>Testando meus conhecimentos de HTML/CSS</h3>
        </header>
    <nav>
        <li><a href="#Home">Home</a></li>  
        <li><a href="#Link1">Link 1</a></li>  
        <li><a href="#Link2">Link 2</a></li>  
        <li><a href="#Link3">Link 3</a></li>  
        <li><a href="#Link4">Link 4</a></li>  
    </nav>
    <main>
    <section>
        <h2>Lorem ipsum dolor sit amet</h2>
        <img src="console.jpg" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, facere. Delectus voluptate, similique accusantium, blanditiis molestias quos quisquam magni nisi doloribus ut velit rem. Totam earum amet vero. Ratione, a? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam nesciunt sint maiores! Amet, consectetur facilis blanditiis porro sunt omnis, est magnam ullam molestias sit harum distinctio numquam quas! Accusantium, minima.</p>
        <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam dolorum nemo, maiores nostrum culpa asperiores ab consequatur fugiat ea at itaque aut officiis sit quaerat dolore aperiam, esse amet tenetur.</li>
            <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi et, molestiae iusto deserunt vero ratione corporis expedita distinctio tempore fugiat, recusandae cumque cupiditate voluptatum autem enim aperiam possimus reiciendis consequatur.</li>
        </ul>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab eaque ratione facere at repellat qui sunt natus nam possimus ullam recusandae minima nemo ea, mollitia porro est molestiae repudiandae? Molestiae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti perspiciatis id esse, molestiae illo voluptas illum tempora repellat dolor itaque aliquam inventore accusamus ratione ipsum minima! Voluptate optio quos natus!
        </p>
    </section>
    <aside>
        <ul>
            <h3>Link Externo</h3>
            <li><a href="#Link1">Link 1</a></li>
            <li><a href="#Link2">Link 2</a></li>
            <li><a href="#Link3">Link 3</a></li>
            <li><a href="#Link4">Link 4</a></li>
            <li><a href="#Link5">Link 5</a></li>
            <h3>Recursos</h3>
            <li><a href="#Link1">Link 1</a></li>
            <li><a href="#Link2">Link 2</a></li>
            <li><a href="#Link3">Link 3</a></li>
        </ul>
    </aside>
</div> 
</main>
<p>&copy;2022</p>
</body>
</html>